CompileFlags:
  CompilationDatabase: ../build/camera
  Remove:
    - -mlongcalls
    - -mdisable-hardware-atomics
    - -fstrict-volatile-bitfields
    - -fno-tree-*
    - -fno-shrink-wrap
    - -fno-malloc-dce
    - -fzero-init-padding-bits=*
